nav{
    height:50px;
    background-color:lightblue;
}
.inline-block{
    display: inline-block;
    padding:15px;
}
.left{
    float:Left;
    height: 500px;
    width:20%;
    background-color:lightyellow;
    text-align: center;
    padding-top: 20px;
}
.right{
    float: right;
    height:500px;
    background-color: lightcyan;
}